@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap");

:root {
  --color-white: #f3f3f3;
  --color-green: #37af65;
  --color-maron: #801805;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Exo", sans-serif;
}

#page-wrapper {
  position: relative;
}


li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/* h1 {
  text-align: center;
} */

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: #eee;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 180px;
  height: 180px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#intro > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

/* @media (max-width: 580px) {
  #intro {
    height: 300px;
    margin-top: 150px;
  }
} */
@media (max-width: 650px) {
  #intro {
    margin-top: 120px;
  }
}

#features {
  margin-top:   0px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

@media (max-width: 650px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 650px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

/* @media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
} */

#options {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #options {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}

#contact-section h1 {
  margin-top: 100px;
  word-wrap: break-word;
}

#form input[type="submit"] {
  padding: 0.7em;
  width: 100%;
  border: 0;
  background-color: #f1c40f;
}
/* html body form#contact-form input#submit.submit-button */
#form input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
  font-size: 1.25rem;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

input:focus {
  outline: 3px solid gold;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label,
  interestedIn {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }

  .grid-radio-button {
    grid-column: 2 / 3;
    font-size: 1.1rem;
  }
}

input[type="radio"] {
  margin: 0 5px 0 0px;
}

div.leftBlock {
  position: relative;
  float: left;
}

.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 20px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  color: #444;
}
